@model IEnumerable<NhpBaidanhgiagiuaky.Models.NhpProduct>

@{
    ViewBag.Title = "Index";
}

<h2>Nguyen Huu Phuc</h2>

<p>
    @Html.ActionLink("Create New", "NhpCreate")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nhpId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nhpName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nhpImage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nhpQuantity)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nhpPrice)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.nhpIsActive)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nhpId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nhpName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nhpImage)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nhpQuantity)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nhpPrice)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.nhpIsActive)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
